<youtube-video video-id="$ctrl.currentTrack.id"></youtube-video>

<div class="player" md-whiteframe="2" ng-hide="$ctrl.$state.is('login')">

  <div layout="row" layout-align="center center">

    <div class="player__controls">
      <md-button class="md-icon-button" ng-hide="$ctrl.isPlaying" ng-click="$ctrl.playTrack()">
         <md-icon md-menu-origin>play_arrow</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-show="$ctrl.isPlaying" ng-click="$ctrl.pauseTrack()">
         <md-icon md-menu-origin>pause</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="$ctrl.playNextTrack()">
         <md-icon md-menu-origin>fast_forward</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="$ctrl.toggleVolumeControl()">
         <md-icon md-menu-origin>volume_up</md-icon>
      </md-button>
    </div>

    <div md-whiteframe="1" class="volume__control">
      <md-slider ng-show="$ctrl.showVolumeControl" ng-model="$ctrl.volume" min="0" max="100" aria-label="volume" md-vertical></md-slider>
    </div>

    <span flex hide-gt-xs></span>
    <div class="track__time">{{ $ctrl.trackInfo.currentTime | TimeFormat }} / {{ $ctrl.trackInfo.duration | TimeFormat }}</div>

    <span flex hide-xs></span>
    <div class="track__details" hide-xs>{{ $ctrl.currentTrack.title }}</div>

  </div>

</div>
