<md-toolbar ng-hide="$ctrl.isSearching">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleSidebar()">
      <md-icon class="md-default-theme">view_headline</md-icon>
    </md-button>
    <span>Tracks</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.isSearching = true">
      <md-icon class="md-default-theme">search</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar ng-show="$ctrl.isSearching">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.isSearching = false">
      <md-icon class="md-default-theme">arrow_back</md-icon>
    </md-button>
    <md-input-container class="md-block md-white-input" flex md-no-float>
        <input md-no-asterisk name="search" placeholder="Search music..." ng-model="$ctrl.searchQuery" ng-model-options="{debounce: 400}" ng-change="$ctrl.search($ctrl.searchQuery)">
        <div class="md-errors-spacer"></div>
    </md-input-container>
    <md-button class="md-icon-button" ng-click="$ctrl.clearSearch()">
      <md-icon class="md-default-theme">close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div layout="row" layout-align="center center" ng-show="$ctrl.isSearching">
  <md-content flex="70" flex-sm="100" flex-xs="100">
    <md-list flex>
        <md-subheader class="md-no-sticky">Youtube Search Results</md-subheader>
         <md-list-item class="md-1-line track" flex ng-repeat-start="track in $ctrl.searchResults">
           <img ng-src="{{ track.snippet.thumbnails.medium.url }}" style="height: 90px"/>
           <div class="md-list-item-text track-title" layout="column" flex>{{ track.snippet.title }}</div>
           <md-button class="md-icon-button" ng-click="$ctrl.addTrackToPlaylist(track)" ng-hide="$ctrl.trackExists(track)">
               <md-icon>playlist_add</md-icon>
               <md-tooltip md-direction="left">Add To Playlist</md-tooltip>
           </md-button>
           <md-button class="md-icon-button" ng-show="$ctrl.trackExists(track)">
               <md-icon>playlist_add_check</md-icon>
           </md-button>
         </md-list-item>
         <md-divider ng-repeat-end></md-divider>
    </md-list>
  </md-content>
</div>

<div layout="row" layout-align="center center" ng-hide="$ctrl.isSearching || !$ctrl.playlistTracks">
  <md-content flex="95" flex-gt-md="70">
    <md-list flex>
        <md-subheader class="md-no-sticky">Playlist tracks</md-subheader>
         <md-list-item class="md-1-line track" flex ng-repeat-start="(id, track) in $ctrl.playlistTracks">
           <img ng-src="{{ track.image }}" style="height: 90px"/>
           <div class="md-list-item-text track-title" layout="column" flex>{{ track.title }}</div>
           <md-button class="md-icon-button" ng-click="$ctrl.changeTrack(track)">
               <md-icon>play_arrow</md-icon>
               <md-tooltip>Play</md-tooltip>
           </md-button>
           <md-menu>
             <md-button class="md-icon-button md-icon-button" md-menu-origin>
                 <md-icon>more_vert</md-icon>
             </md-button>
             <md-menu-content width="3">
               <md-menu-item>
                 <md-button ng-click="$ctrl.setPlaylistBackground(track)"><span md-menu-align-target>Default playlist background</span></md-button>
               </md-menu-item>
               <md-menu-item>
                 <md-button ng-click="$ctrl.removeTrackFromPlaylist(track)"><span md-menu-align-target>Remove track</span></md-button>
               </md-menu-item>
             </md-menu-content>
          </md-menu>
         </md-list-item>
         <md-divider ng-repeat-end></md-divider>
    </md-list>
  </md-content>
</div>

<div layout="row" layout-align="center center" ng-hide="$ctrl.isSearching || $ctrl.playlistTracks">
  <md-content flex="95" flex-gt-md="70">
    <p>
      <h1>Playlist Empty</h1>
      <p>Use the search feature above on the toolbar and add some tracks!</p>
    </p>
  </md-content>
</div>
