<md-toolbar ng-hide="$ctrl.isSearching">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleSidebar()">
      <md-icon class="md-default-theme">view_headline</md-icon>
    </md-button>
    <span>Tracks</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="$ctrl.isSearching = true">
      <md-icon class="md-default-theme">search</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar ng-show="$ctrl.isSearching">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.isSearching = false">
      <md-icon class="md-default-theme">arrow_back</md-icon>
    </md-button>
    <md-input-container class="md-block md-white-input" flex md-no-float>
        <input md-no-asterisk name="search" placeholder="Search music..." ng-model="$ctrl.searchQuery" ng-model-options="{debounce: 400}" ng-change="$ctrl.search($ctrl.searchQuery)">
        <div class="md-errors-spacer"></div>
    </md-input-container>
    <md-button class="md-icon-button" ng-click="$ctrl.clearSearch()">
      <md-icon class="md-default-theme">close</md-icon>
    </md-button>
  </div>
</md-toolbar>

<div class="tracklist" ng-show="$ctrl.isSearching">
  <div class="tracklist__header">Youtube Search Results</div>
  <div class="tracklist__item" ng-repeat-start="track in $ctrl.searchResults">
    <div class="tracklist__item__thumbnail"><img ng-src="{{ track.snippet.thumbnails.medium.url }}"></div>
    <div class="tracklist__item__title">{{ track.snippet.title }}</div>
    <div class="tracklist__item__controls">
      <div class="tracklist__item__buttons tracklist__item__buttons--single">
        <md-button class="md-icon-button" ng-click="$ctrl.addTrackToPlaylist(track)" ng-hide="$ctrl.trackExists(track)">
            <md-icon>playlist_add</md-icon>
            <md-tooltip md-direction="left">Add To Playlist</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-show="$ctrl.trackExists(track)">
            <md-icon>playlist_add_check</md-icon>
        </md-button>
     </div>
    </div>
  </div>
  <div ng-repeat-end class="tracklist__divider"></div>
</div>

<div class="tracklist" ng-hide="$ctrl.isSearching || !$ctrl.playlistTracks">
  <div class="tracklist__header">Playlist Tracks</div>
  <div class="tracklist__item" ng-repeat-start="(id, track) in $ctrl.playlistTracks">
    <div class="tracklist__item__thumbnail"><img ng-src="{{ track.image }}"></div>
    <div class="tracklist__item__title">{{ track.title }}</div>
    <div class="tracklist__item__controls">
      <div class="tracklist__item__buttons">
        <md-button class="md-icon-button" ng-click="$ctrl.changeTrack(track)" hide-sm hide-xs>
            <md-icon>play_arrow</md-icon>
            <md-tooltip>Play</md-tooltip>
        </md-button>
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button md-icon-button" md-menu-origin>
              <md-icon>more_vert</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item hide-gt-sm>
              <md-button ng-click="$ctrl.changeTrack(track)"><span md-menu-align-target>Play</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.setPlaylistBackground(track)"><span md-menu-align-target>Default playlist background</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.addTrackToQueue(track)"><span md-menu-align-target>Queue Track</span></md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="$ctrl.removeTrackFromPlaylist(id)"><span md-menu-align-target>Remove track</span></md-button>
            </md-menu-item>
          </md-menu-content>
       </md-menu>
     </div>
    </div>
  </div>
  <div ng-repeat-end class="tracklist__divider"></div>
</div>

<div layout="row" layout-align="center center" ng-hide="$ctrl.isSearching || $ctrl.playlistTracks">
  <md-content flex="95" flex-gt-md="70">
    <p>
      <h1>Playlist Empty</h1>
      <p>Use the search feature above on the toolbar and add some tracks!</p>
    </p>
  </md-content>
</div>
