<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleSidebar()">
      <md-icon class="md-default-theme">view_headline</md-icon>
    </md-button>
    <span>Queue</span>
    <span flex></span>
  </div>
</md-toolbar>

<div class="tracklist">
  <div class="tracklist__header">Queued Tracks</div>
  <div class="tracklist__item" ng-repeat-start="track in $ctrl.queuedTracks">
    <div class="tracklist__item__thumbnail"><img ng-src="{{ track.image }}"></div>
    <div class="tracklist__item__title">{{ track.title }}</div>
    <div class="tracklist__item__controls">
      <div class="tracklist__item__buttons tracklist__item__buttons--single">
        <md-menu>
          <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button md-icon-button" md-menu-origin>
              <md-icon>more_vert</md-icon>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item>
              <md-button ng-click="$ctrl.removeTrackFromQueue($index)"><span md-menu-align-target>Remove Track</span></md-button>
            </md-menu-item>
          </md-menu-content>
       </md-menu>
     </div>
    </div>
  </div>
  <div ng-repeat-end class="tracklist__divider"></div>
</div>
